<h3>Muffin Details</h3>

<div>
  Name: <%= @muffin.name %>
</div>

<div>
  Description: <%= @muffin.description %>
</div>

<div>
  Category: <%= @muffin.category %>
</div>

<div>
  Price: <%= @muffin.price %>
</div>

<div>
  Available Until <%= @muffin.available_until %>
</div>

<div>
  Created At: <%= @muffin.created_at %>
</div>

<div>
  Updated At: <%= @muffin.updated_at %>
</div>