<h2>Our Cakes</h2>

<a href="/">Home</a>

<h4><a href="<%= new_cake_path %>">Add a new cake</a></h4>

<% @cakes.each do |cake| %>
  <div>
    Name: <%= cake.name %>
  </div>

  <div>
    Description: <%= cake.description %>
  </div>

  <div>
    Diameter: <%= cake.diameter %>
  </div>

  <div>
    Price: <%= cake.price %>
  </div>

  <div>
    Available Until: <%= cake.available_until %>
  </div>

  <div>
  
    <%= link_to 'View', cake_path(cake), 'data-disable-with': 'Processing...' %>
    <%= link_to 'Edit', edit_cake_path(cake) %>
    
    <% if @status = 'visible' %>
      <%= link_to 'Hide', cake_toggle_status_path(cake) %>
      <!-- <a href="/cakes/<%= (cake.id) %>/toggle_status">Hide</a> -->
    <% else %>
      <%= link_to 'Show', cake_toggle_status_path(cake) %>
    <% end  %>

    <%= link_to 'Delete', cake_path(cake), 'data-method': 'DELETE', 'data': {confirm: 'Are you sure?'} %>
    
  </div>
  <br>
<% end %>

<% if @status = 'visible' %>
  <%= link_to 'View Hidden Cakes', cakes_path(status: 0) %>
<% else %>
  <%= link_to 'View Visible Cakes', cakes_path(status: 1) %>
<% end %>

