<h3>Cake Details</h3>

<div>
  Name: <%= @cake.name %>
</div>

<div>
  Description: <%= @cake.description %>    
</div>

<div>diameter
  Diameter: <%= @cake.diameter %>
</div>

<div>
  Price: <%= @cake.price %>
</div>

<div>
  Available Until: <%= @cake.available_until %>
</div>

<div>
  Created At: <%= @cake.created_at %>
</div>

<div>
  Updated At: <%= @cake.updated_at %>
</div>